@import '~firebaseui/dist/firebaseui.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
  background-color: #F8F8F8 !important;
  font-family: 'Exo 2', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  z-index: 100;
}
.navbar {
  border-bottom: 1px solid #DCDCDC;
  background-color: #F8F8F8;
}
.close {
  position: relative;
  bottom: 20px;
  left: 10px;
  font-size: 31px;
  color: #000;
}
$active_color: #FFD700;
.navbar-item.bc {
  a {
    font-size: 17px;
    text-decoration: none;
    color: black;
    &:hover {
      color: $active_color;
    }
    &:active {
      color: $active_color;
    }
  }
}
.navbar-brand {
  margin-left: 1.5rem;
  user-select: none;
}
