<header class="container-flex">
  <nav class="navbar navbar-light">
    <a routerLink="/" class="navbar-brand">
      {{ title }}
    </a>
    <div *ngIf="fbAuth.user | async as user">
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a (click)="fbAuth.signOut()">Logout</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</header>

<div *ngIf="fbAuth.user | async as user; else showLogin">
  <router-outlet></router-outlet>
</div>

<ng-template #showLogin>
  <firebase-ui></firebase-ui>
</ng-template>
