<header class="container-flex">
  <nav class="navbar navbar-light">
    <div *ngIf="fbAuth.user | async as user" class="dropdown d-xl-none d-lg-none mr-auto">
      <div class="dropdown-menu hb" aria-labelledby="navd">
        <a routerLink="/">Home</a>]
        <a (click)="fbAuth.signOut()">Logout</a>
      </div>
    </div>
    <a routerLink="/" class="navbar-brand py-0 pl-5">
      <h1>{{title}}</h1>
    </a>
    <div *ngIf="fbAuth.user | async as user">
      <span class="navbar-item bc d-none d-xl-block d-lg-block py-0">
        <a class="pl-5" routerLink="/">Home</a>
        <button style="margin-left: 60rem" class="btn btn-outline-primary" (click)="fbAuth.signOut()">
          Logout
        </button>
      </span>
    </div>
  </nav>
</header>

<div *ngIf="fbAuth.user | async as user; else showLogin">
  <router-outlet></router-outlet>
</div>

<ng-template #showLogin>
  <firebase-ui></firebase-ui>
</ng-template>
